---
layout: page
permalink: null
published: true
---
<div class="posts">
  <div>
    <container>
    <h1>Human: Innovation. Integrity. Impact.</h1>
    <h2>Artificial Intelligence | Blockchain | FinTech</h2>
    
    <h4>I'm cooking up some really cool projects here
      in the <a href="https://www.cbsnews.com/media/americas-top-10-tech-cities-arent-on-the-coasts/2/" target="_blank">#1 Tech City</a> in the USA.</h4>
    
    <p>Featured projects include: <br />
      <br />
      * Blockchain<br />
      * Artificial Intelligence<br />
      * <a href="https://jamstack.org/" target="_blank">JAM Stack</a> (JavaScript, APIs, & Markup)<br />
      * <a href="http://mean.io/" target="_blank">MEAN Stack</a> (MongoDB, Express.js, AngularJS, Node.js)<br />
      * There's always more...<br />
      
      {% include button.html.about %}
      {% include button.html.projects %}
    </p><br />
    </container>
  </div>
  
    {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
